body {
    background-image: url("../images/congruent_outline.png");
    width: 700px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36pt;
    background: lightseagreen;
    color: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 400px;
}

.infoSection {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    background: lavender;
    height: 100%;
    width: 700px;
    border-radius: 10px;
}

#startButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background: darkslategray;
    border-radius: 10px;
}

#infoText {
    margin-top: 15px;
}

.infoSection p {
    margin: 10px 75px;
    line-height: 20px;
    text-align: left;
}

.gameStats {
    float: right;
    margin-top: 50px;
    padding: 13px 0;
    text-align: center;
    font-weight: bold;
    background: lightcoral;
    width: 225px;
}

.gameStats li {
    float: left;
    margin: 0 20px;
}

.numbers {
    float: right;
    width: 410px;
    background: lightseagreen;
    padding: 20px;
    margin: 25px 25px 25px 0;
}

.numbers h3 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.gemSection {
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px 0;
    text-align: center;
    width: 700px;
    background: lavender;
}

#purpleCrystal,
#greenCrystal,
#redCrystal,
#blueCrystal,
#whiteCrystal {
    margin: 0 20px;
}
