body {
    background-image: url("../images/congruent_outline.png");
    width: 700px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    font-size: 36pt;
    background: lightseagreen;
    color: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 400px;
}

.infoSection {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    background: #fff;
    height: 100%;
    width: 700px;
    border-radius: 10px;
}

#startButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background: darkslategray;
    border-radius: 10px;
    border: none;
    font-size: 14pt;
}

#infoText {
    margin-top: 15px;
}

.infoSection p {
    margin: 10px 80px;
    line-height: 22px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 14pt;
}

.gameStats {
    float: right;
    margin-top: 66px;
    padding: 13px 0;
    text-align: center;
    font-weight: bold;
    background: lightcoral;
    width: 225px;
}

.gameStats li {
    float: left;
    margin: 0 20px;
}

.numbers {
    float: right;
    width: 410px;
    background: lightseagreen;
    padding: 20px;
    margin: 25px 25px 25px 0;
}

.numbers h3 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

#numberGoalText {
    margin-bottom: 20px;
}

#numberSumText {
    margin-top: 20px;
}

#numberToMatch,
#numberTotal {
    font-size: 18pt;
}

.gemSection {
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px 0;
    text-align: center;
    width: 700px;
    background: #fff;
}

#purpleCrystal,
#greenCrystal,
#redCrystal,
#blueCrystal,
#whiteCrystal {
    margin: 0 20px;
}



/* 640px MEDIA QUERIE */

@media screen and (max-width: 700px) {
    body,
    h1,
    .infoSection,
    .gemSection,
    .numbers,
    .gameStats {
        width: 100%;
        border-radius: 0;
    }

    .infoSection p {
        margin: 10px 50px;
    }

    .gameStats {        
        margin-top: 25px;
    }

    .gameStats ul {
        margin-left: 50px;
    }

    .gameStats li {
        margin: 0 35px;
    }

    .numbers {
        margin: 0;
    }
    .numbers h3 {
        margin: 0 0 0 105px;
    }

    .numbers hr {
        margin-left: 40px;
    }

    #purpleCrystal,
    #greenCrystal,
    #redCrystal,
    #blueCrystal,
    #whiteCrystal {
        margin: 10px 30px;
    }
    


}